<% post.comments.each do |comment| %>
  <div class="comment">
    <span class="comment-author"><%= comment.user.username %></span>
    <%= comment.body %>  
	
	<% if find_likes(comment).nil? %>
	
		<%= turbo_frame_tag "comment-likes" do %>
			<%= button_to "", likes_path, 
					params: {'comment' => comment}, class: "post-actions-like" %>
		<% end %>
	
	<% else %>
	
		<%= turbo_frame_tag "comment-likes" do%>
			<%= button_to "", likes_path, 
				params: {'comment' => comment}, class: "post-actions-unlike", method: :delete %>
		<% end %>
	
	<% end %>
  </div>
<% end %>